{{ if .IsNamedParams }}
<object type="application/pdf" data="{{ .Get "url" }}" width="{{ if .Get "width" }}{{ .Get "width" }}{{ else }}720{{ end }}" height="{{ if .Get "height" }}{{ .Get "height" }}{{ else }}1018{{ end }}">
    <div>
        Download: <a href="{{ .Get "url" }}">PDF</a>
    </div>
</object>
{{ else }}
<object type="application/pdf" data="{{ .Get 0 }}" width="{{ if len .Params | ge 2 }}{{ .Get 1 }}{{ else }}720{{ end }}" height="{{ if len .Params | eq 3 }}{{ .Get 2 }}{{ else }}1018{{ end }}">
    <div>
        Download: <a href="{{ .Get 0 }}">PDF</a>
    </div>
</object>
{{ end }}
